---
import { type CollectionEntry, getCollection } from "astro:content";

import RootLayout from "./RootLayout.astro";
import Link from "../components/Link.astro";
import { sortBlogPosts } from "../functions";
import { ITEMS_PER_PAGE } from "../consts";

import Hero from "@/components/Hero.astro"

interface Props {
    content: CollectionEntry<"authors">;
    slug: string;
}

const {
    name,
    shortBio,
} = Astro.props.content;

// Get the author's posts
const authorPosts = await getCollection(
    "blog",
    ({ data: { authors, draft } }) => {
        return (
            !draft && authors.some((author) => author.slug === Astro.props.slug)
        );
    }
)
    .then(sortBlogPosts)
    .then((posts) => {
        return posts.slice(0, ITEMS_PER_PAGE).map((post) => {
            return { title: post.data.title, slug: post.slug };
        });
    });
---

<RootLayout title={name} description={shortBio}>
    <div class="items-start space-y-2 xl:gap-x-8 xl:space-y-0">
        <div class="xl:col-span-2 max-w-none d-flex">
            <Hero src="/static/images/home-hero.jpg" alt="Akif Karakus" />
            <div class="prose flex flex-rows items-center space-x-2 pt-8 dark:prose-invert">
                <h2>Hi, I'm Akif - a developer who builds tools, solves problems, and sometimes writes about it.</h2>
            </div>
            <div class="prose pb-8 pt-8 dark:prose-invert">
                <slot />
            </div>
            {
                authorPosts.length > 0 && (
                    <div class="pt-8">
                        <h2 class="text-2xl font-bold leading-8 tracking-tight">
                            Recent Blog Posts
                        </h2>
                        <ul class="space-y-4 mt-4">
                            {authorPosts.map((post) => (
                                <li key={post.slug}>
                                    <Link href={`/blog/${post.slug}`}>
                                        {post.title}
                                    </Link>
                                </li>
                            ))}
                        </ul>
                    </div>
                )
            }
        </div>
    </div>
</RootLayout>
