---
import SectionContainer from "../components/SectionContainer.astro";
import PageTitle from "../components/PageTitle.astro";
import RootLayout from "./RootLayout.astro";
import { type CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ScrollTopAndComments from "@/solid/ScrollTopAndComments.tsx";
import TableOfContents from "@/components/TableOfContents.astro";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;

const { Content, headings } = await post.render();
---

<RootLayout title={post.data.title} description={post.data.summary}>
    <SectionContainer>
        <ScrollTopAndComments client:only="solid-js" />
        <article>
            <div class="xl:divide-y xl:divide-gray-200 xl:dark:divide-gray-700">
                <header class="pt-6 xl:pb-6">
                    <div class="space-y-1 text-center">
                        <dl class="space-y-10">
                            <div>
                                <dt class="sr-only">Published on</dt>
                                <dd
                                    class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"
                                >
                                    <FormattedDate date={post.data.date} />
                                </dd>
                            </div>
                        </dl>
                        <div>
                            <PageTitle>{post.data.title}</PageTitle>
                        </div>
                    </div>
                </header>
                <div class="divide-y divide-gray-200 pb-8 dark:divide-gray-700">
                    <div class="sticky top-12 float-right toc:hidden">
                        <TableOfContents headings={headings} />
                    </div>
                    <div
                        class="divide-y divide-gray-200 dark:divide-gray-700 xl:row-span-2 xl:pb-0"
                    >
                        {
                            post.data.draft && (
                                <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 dark:bg-yellow-500 dark:border-yellow-300 mt-10">
                                    <p class="leading-5 text-yellow-700 dark:text-yellow-300">
                                        This is a draft. It might be incomplete
                                        or have errors.
                                    </p>
                                </div>
                            )
                        }
                        <div
                            class="prose max-w-none pb-8 pt-10 dark:prose-invert"
                        >
                            <slot />
                            <Content />
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </SectionContainer>
</RootLayout>

<script is:inline>
    function addIntersectionObserver() {
        const observer = new IntersectionObserver((sections) => {
            sections.forEach((section) => {
                const heading = section.target.querySelector("h2");
                if (!heading) return;
                const id = heading.getAttribute("id");

                // Get the link to this section's heading
                const link = document.querySelector(`nav ul li#${id}`);
                if (!link) return;

                // Add/remove the .active class based on whether the
                // section is visible
                const addRemove =
                    section.isIntersecting ? "add" : "remove";
                link.classList[addRemove]("border-black", "dark:font-extrabold", "dark:text-gray-50");
            });
        });

        document.querySelectorAll("section.heading").forEach((section) => {
            observer.observe(section);
        });
    }

    // document.addEventListener("astro:after-swap", () => {});

    console.log("Adding interesction observer...");
    addIntersectionObserver();
</script>
